@import 'palette';

.App {
  text-align: center;
  font-family: 'PT Serif', serif;
  background-color: $background-color1;

  h1 {
    color: $text-color1;
    text-decoration: underline solid $green-color1;
    font-style: italic;
    font-size: 3em;
    font-weight:400;
    text-transform: uppercase;
  }

  #holder {
    margin: 0 5em 0 5em;
    border: 1px solid $text-color1;
  }

  p {
      font-size: 1em;
      margin: 3em;
      color: $text-color2;
  }

}
