/* Coolors Exported Palette - coolors.co/993d2a-fbba72-fee3a4-9ca04e-000000 */

/* RGB */
$background-color1: rgba(153, 61, 42, 1);
$background-color2: #a79b77;
$text-color1: rgba(251, 186, 114, 1);
$text-color2: rgba(254, 227, 164, 1);
$text-color3: rgba(255, 245, 215, 1);
$green-color1: rgba(156, 160, 78, 1);
$black-color1: rgba(0, 0, 0, 1);
