/* Coolors Exported Palette - coolors.co/993d2a-fbba72-fee3a4-9ca04e-000000 */

/* HSL */
$color1: hsla(10%, 57%, 38%, 1);
$color2: hsla(32%, 94%, 72%, 1);
$color3: hsla(42%, 98%, 82%, 1);
$color4: hsla(63%, 34%, 47%, 1);
$color5: hsla(0%, 0%, 0%, 1);

/* RGB */
$color1: rgba(153, 61, 42, 1);
$color2: rgba(251, 186, 114, 1);
$color3: rgba(254, 227, 164, 1);
$color4: rgba(156, 160, 78, 1);
$color5: rgba(0, 0, 0, 1);