@import '../../styles/palette.scss';

p {
    font-size: 1em;
      margin: 3em;
      color: $text-color3;
}

.review-card-img {
    width: 50%;
}

.review-card-name {
    color: $text-color3;
    text-decoration: underline solid $green-color1;
    font-style: italic;
    font-size: 3em;
    font-weight:400;
    text-transform: uppercase;
    text-shadow: 1px -1px 0px rgba(150, 150, 150, 1), 2px -2px 0px #2d2d2d;
    margin:0;
}

.review-card-description {
    color: $text-color1;
    font-size: 1.2em;
}

.review-card-closed {
    margin: 0 20% 0 20%;
    background-image: url('./PizzaBox.png');
    background-size: 100%;
    transition: all 0.5s ease;
}

.review-card-location-info {
    width: 50%;
    margin: 0 25% 30px 25%;
    text-align: right;
    color: $text-color2;
    font-size: 0.8em;
}

.review-card-open {
    margin: 0 20% 0 20%;
    border: 4px solid $black-color1;
    background-color: $background-color2;
    box-shadow: 0px 0px 10px 2px;
    transition: background-color 0.5s ease-in-out,
    box-shadow 0.2s ease-in-out, border 0.5s ease-in-out;
    ;
}
