/* Coolors Exported Palette - coolors.co/993d2a-fbba72-fee3a4-9ca04e-000000 */

/* HSL */
$background-color1: hsla(10%, 57%, 38%, 1);
$text-color1: hsla(32%, 94%, 72%, 1);
$text-color2: hsla(42%, 98%, 82%, 1);
$green-color1: hsla(63%, 34%, 47%, 1);
$black-color1: hsla(0%, 0%, 0%, 1);

/* RGB */
$background-color1: rgba(153, 61, 42, 1);
$text-color1: rgba(251, 186, 114, 1);
$text-color2: rgba(254, 227, 164, 1);
$green-color1: rgba(156, 160, 78, 1);
$black-color1: rgba(0, 0, 0, 1);
