#path4558{
    fill:#000000;
    stroke-width:1.33333337;
}
#path4655{
    fill:#f4eed7;
    fill-opacity:1;
    stroke-width:2.52481079;
}
#path4657{
    fill:#005500;
    fill-opacity:1;
    stroke-width:2.52481079;
}
#path4659{
    fill:#c83737;
    fill-opacity:1;
    stroke-width:2.52481079;
}
#path1399, #path1401, #path1403,#path1405,
#path1407, #path1409{
    fill:#ffffff;fill-opacity:1;stroke-width:1.2624054
}
