#path3727{
    fill:#000000;
    stroke-width:1.33333337;
}
#path3945{
    fill:#f7f8e5;
    fill-opacity:1;
    stroke-width:1.49426341;
}
#path3955{
    fill:#f6f8e3;
    fill-opacity:1;
    stroke-width:0.26415095;
}
#path4762{ 
    fill:#f7f8e5;
    fill-opacity:1;
    stroke-width:2.98852682;
} 
#path4861, #path4863,#path4865, #path4867,
#path4869, #path4887{
    fill:#c83737;
    fill-opacity:1;
    stroke-width:0.74713171;
    stroke-miterlimit:4;
    stroke-dasharray:none;
}
#path4871, #path4873,#path4875, #path4877,#path4885{
    fill:#2d5016;
    fill-opacity:1;
    stroke-width:2.11320758;
    stroke-miterlimit:4;
    stroke-dasharray:none
}
#path4879, #path4881{
    fill:#782121;
    fill-opacity:1;
    stroke-width:2.11320758;
    stroke-miterlimit:4;
    stroke-dasharray:none
}

#path4883{
    fill:#803300;
    fill-opacity:1;
    stroke-width:2.11320758;
    stroke-miterlimit:4;
    stroke-dasharray:none
}
#path4893{
    fill:#c87137;
    fill-opacity:1;
    stroke-width:2.98852682;
    stroke-miterlimit:4;
    stroke-dasharray:none
}
#path4895{
    fill:#784421;
    fill-opacity:1;
    stroke-width:2.98852682;
    stroke-miterlimit:4;
    stroke-dasharray:none
}
#path4897{
    fill:#d38d5f;
    fill-opacity:1;
    stroke-width:2.98852682;
    stroke-miterlimit:4;
    stroke-dasharray:none
}
#path4909{
    fill:#a05a2c;
    fill-opacity:1;
    stroke-width:2.98852682;
    stroke-miterlimit:4;
    stroke-dasharray:none
}
#path4911{
    fill:#483e37;
    fill-opacity:1;
    stroke-width:1.49426341;
    stroke-miterlimit:4;
    stroke-dasharray:none
}
#path4919{
    fill:#a05a2c;fill-opacity:1;stroke-width:2.98852682;stroke-miterlimit:4;stroke-dasharray:none
}
#path4921{
    fill:#d38d5f;fill-opacity:1;stroke-width:2.98852682;stroke-miterlimit:4;stroke-dasharray:none
}
#path4927{
    fill:#d5fff6;fill-opacity:1;stroke-width:11.95410728;stroke-miterlimit:4;stroke-dasharray:none
}
#path4929{
    fill:#d5fff6;fill-opacity:1;stroke-width:11.95410728;stroke-miterlimit:4;stroke-dasharray:none
}
#path4935{
    fill:#f6fff6;fill-opacity:0.26633169;stroke-width:4.22641516;stroke-miterlimit:4;stroke-dasharray:none
}
#path4937{
    fill:#f6fff6;fill-opacity:0.87437188;stroke-width:4.22641516;stroke-miterlimit:4;stroke-dasharray:none
}
#path4939{
    fill:#dffff6;fill-opacity:1;stroke-width:4.22641516;stroke-miterlimit:4;stroke-dasharray:none
}
#path4941{
    fill:#dffff6;fill-opacity:1;stroke-width:16.90566063;stroke-miterlimit:4;stroke-dasharray:none
}

