#path5323{
    fill:#000000;stroke-width:1.33333337
}
#path5869{
    fill:#fccc33;fill-opacity:1;stroke-width:3.89907479
}
#path5871, #path5873, #path5875, #path5877,
#path5879{
    fill:#d94b58;fill-opacity:1;stroke-width:3.89907479
}
#path5881{
    fill:#c49b83;fill-opacity:1;stroke-width:3.89907479
}
#path5883{
    fill:#c49b83;fill-opacity:1;stroke-width:3.73333335
}
#path5887{
    fill:#c49b83;fill-opacity:1;stroke-width:1.3199327
}
#path5889{
    fill:#c49b83;fill-opacity:1;stroke-width:0.93333334
}
#path5891{
    fill:#c49b83;fill-opacity:1;stroke-width:2.6398654
}
#path5893{
    fill:#fccc33;fill-opacity:1;stroke-width:1.3199327
}
#path5903, #path5905{
    fill:#bcda7a;fill-opacity:1;stroke-width:0.46666667
}
#path5907{
    fill:#bcda7a;fill-opacity:1;stroke-width:0.11666667
}
#path5909, #path5911, #path5313, #path5315{
    fill:#bcda7a;fill-opacity:1;stroke-width:0.93333334
}
#path5921, #path5923, #path5925{
    fill:#f4e3d7;fill-opacity:1;stroke-width:1.3199327
}
#path5927{
    fill:#bcda7a;fill-opacity:1;stroke-width:1.3199327
}