#path4685{
    fill:#000000;stroke-width:1.33333337;
}
#path4688, #path5233, #path5235,#path5237, #path5239{
    fill:#e7c023;fill-opacity:1;stroke-width:3.19596314
}
#path5241, #path5243, #path5245, #path5247,
#path5261, #path5263, #path5265, #path5267,
#path5269, #path5271, #path5273, #path5275,
#path5277, #path5279, #path5281{
    fill:#e7c023;fill-opacity:1;stroke-width:0.39949539
}
#path5249,#path5251{
    fill:#e7c023;fill-opacity:1;stroke-width:0.04993692
}
#path5253,#path5255{
    fill:#e7c023;fill-opacity:1;stroke-width:0.07062148
}
#path5257{
    fill:#e7c023;fill-opacity:1;stroke-width:0.03531074
}
#path5259{
    fill:#e7c023;fill-opacity:1;stroke-width:0.09987385
}
#path5283, #path5285, #path5287, #path5289,
#path5291, #path5293, #path5295, #path5297,
#path5299, #path5301, #path5303, #path5305,
#path5307{
    fill:#e7c023;fill-opacity:1;stroke-width:0.79899079
}
#path5309{
    fill:#e7c023;fill-opacity:1;stroke-width:0.2824859
}
#path5311{
    fill:#000000;fill-opacity:1;stroke-width:0.2824859
}


