#path3724{
    fill:#000000;stroke-width:1.24133134;
}
#path3734{
    fill:#00ffff;stroke-width:1.28301883
}
#path3736{
    fill:#e63743;fill-opacity:1;stroke-width:1.28301883
}
#path1373, #path1375, #path1377, #path1379,
#path1381, #path1383, #path1385, #path1387{
    fill:#ffffff;fill-opacity:1;stroke-width:1.28301883
}
